.rightInfo{
    width: 150px;
}
.modalButton{
   
    border: none;
    padding: 5px 20px;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: white;
}
.modalButton:hover{
   
}