.first-image {
    opacity: 1;
    transition: 0.2s;
    width: 100%;
    cursor: pointer;
  }
  .second-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    transition: 0.2s;
    cursor: pointer;
  }
  
  .image-parent  .first-image:hover {
    opacity: 0;
  }
  .image-parent  .second-image:hover {
    opacity: 1;
  }
  
  .childrens {
    position: absolute;
  
  }
  
  .image-parent:hover  .example {
   opacity: 1;
  }
  .example{
      position: absolute;
      bottom: 2px;
      opacity: 0;
      transition: 0.2s;
  }
  
  
  .arrowIcon{
      opacity: 0;
      transition: 0.3s;
      
  }
  
  .button-parent:hover .arrowIcon{
      opacity: 1;
  
  }


  .notDesign{
    color: #000;
}
.design{
    color: red;
}
  