.scrollTop {
    position: fixed;
    top: 80%;
    right: 2%;
  }
  .scrollBtn{
    font-size: 22px;
    font-weight: 700;
  }
  button.scrollTop {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }
