.scrollTop {
  position: fixed;
  top: 80%;
  right: 5%;
}

.scrollBtn {
  font-size: 22px;
  font-weight: 700;
}

button.scrollTop {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}


.disActive :where(li:not(.menu-title):not(:empty))> :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):active) {
  background-color: transparent ;
  color: black;
}

