.banner-container {
    position: relative;
}

.bannerImg {
    background-image: url(../../resource/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.bannerImg2 {
    background-image: url(../../resource/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.bannerSwiper .swiper-pagination {
    position: absolute;
    text-align: start;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    margin-left: 60px;
}

.bannerSwiper .swiper-pagination-bullet {
    width: 12px;
    height: 5px;
    display: inline-block;
    border-radius: 0%;
    background: #000;
    opacity: .2;
}

.bannerSwiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: #01c7fe;
}