.bannerSwiper .swiper-pagination {
    position: absolute;
    text-align: start;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    margin-left: 230px;
}

.bannerSwiper .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    display: inline-block;
    border-radius: 0%;
    background: #000;
    opacity: .2;
}

.bannerSwiper .swiper-pagination-bullet-active {
    opacity: 1;
    height: 8px;
    background: #01c7fe;
}